@import url("https://fonts.googleapis.com/css2?family=bagel+fat+one&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Oxygen:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

.bagel-fat-one-regular {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.oxygen-light {
  font-family: "Oxygen", serif;
  font-weight: 300;
  font-style: normal;
}

.oxygen-regular {
  font-family: "Oxygen", serif;
  font-weight: 400;
  font-style: normal;
}

.oxygen-bold {
  font-family: "Oxygen", serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Oxygen", serif;
  background: black;
  color: white;
  width: 100%;
  height: 100vh;
}

img {
  width: 100%;
  height: 100%;
}

nav {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 10px 30px;
  text-transform: uppercase;
}

.home_btn {
  display: flex;
  gap: 10px;
  align-items: center;
}

.home_icon {
  height: 30px;
  width: 30px;
}

.menu li a {
  border: 1px solid white;
  border-bottom-right-radius: 20px;
  padding: 10px;
  transition: 0.5s;
}

.menu li :hover {
  background: white;
  color: black;
  transform: translateY(10px);
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: white;
  color: black;
  padding: 10px;
  border-bottom-right-radius: 20px;
  transition: 0.7s;
}

.contact:hover {
  background: none;
  border: 1px solid white;
  color: white;
}


nav ul {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

a {
  color: white;
  transition: 0.7s;
}

a:hover {
  transform: translate(10px);
}


/* Landing page hero section */

.section_01 {
  display: grid;
  gap: 100px;
  padding: 60px 80px 100px 80px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  animation: card-anim 1s ease-in-out;
}

#section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 100vh;
  width: 100%;
  animation: card-anim 1s ease-in-out;
}


.p_01 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: 100%;
  background: rgba(0 0 0/40%);
  padding: 50px;
  border-radius: 20px;
}

.p_01 p {
  padding-bottom: 50px;
  line-height: 28px;
  font-size: 16px;
}

h1, h2 {
  font-family: "Silkscreen", sans-serif;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 800;
}

.main_button {
  background: greenyellow;
  font-weight: 600;
  color: black;
  padding: 20px;
  border-radius: 20px;
  transition: 0.5s;
}

.main_button:hover {
  background: rgb(255, 255, 255);
}

/* Spline element */

iframe {
  position: fixed;
  z-index: -10;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: 100%;
  height: 100%;
  animation: bg-anim 5s ease-in-out;
}

@keyframes bg-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Footer */

footer {
  display: grid;
  place-content: center;
  text-transform: uppercase;
  font-size: 10px;
  height: 450px;
  padding: 20px;
  background: black;
  color: white;
}

.footer_menu {
  display: flex;
  padding: 50px 0 50px 0;
  gap: 20px;
  justify-content: center;
  align-items: center;
  transition: 2s;
}

.footer_menu li a:hover,
.footer_contact li a:hover {
  color: greenyellow;
}

footer p {
  text-align: center;
  padding: 20px;
}

footer h2 {
  text-align: center;
  font-size: 200px;
  font-family: "Silkscreen", sans-serif;
  background: linear-gradient(332deg, #010330, #468ef8);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;
  border-radius: 20px;
  width: 1000px;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

footer div {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.footer_contact {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.dot-1 {
  background: white;
  width: 10px;
  height: 10px;
}

/* Interview page */

main {
  padding: 60px 0 0 80px;
  color: black;
  justify-content: space-around;
  width: 100%;
  display: flex;
  align-items: center;
  animation: card-anim 1s ease-in-out;
}

@keyframes card-anim {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.avatar_card {
  display: grid;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 20px;
  height: 800px;
  width: 1000px;
  padding: 0 0 60px 0;
}

.avatar {
  display: grid;
  grid-template-columns: repeat(2, 450px);
  grid-template-rows: repeat(3, 118px);
  gap: 50px;
  border: 2px solid rgba(0 0 0/5%);
  border-radius: 20px;
  padding: 20px;
  width: 900px;
  height: 500px;
  box-shadow: -12px 13px 19px -8px rgba(0, 0, 0, 0.1);
}

.avatar_bio {
  grid-column: 1;
  grid-row: 1;
}

.avatar_img {
  grid-column: 2;
  grid-row: 1 / span 3;
  border-radius: 20px;
  width: 350px;
  height: 455px;
  transition: 0.5s ease-in-out;
  filter: grayscale();
}

.avatar_img:hover {
  transform: translateX(20px);
  filter: none;
}

.main_title {
  font-family: "Silkscreen", sans-serif;
}

.main_title h1 {
  font-size: 40px;
  padding: 20px 0 10px 20px;
}

.main_title p {
  padding-left: 20px;
  color: grey;
  font-weight: 500;
}

.card_layout p {
  font-weight: 600;
  grid-column: 1;
}

.card_layout span {
  font-size: 12px;
  font-weight: 500;
  color: grey;
  padding-left: 10px;
}

.avatar_name {
  font-family: "Silkscreen", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 10px;
}

.title {
  font-family: "Silkscreen", sans-serif;
  color: rgba(0 0 0/40%);
  padding-bottom: 20px;
  font-weight: 600;
}

.enterprise {
  color: rgba(0 0 0/40%);
  font-weight: 500;
}

.date {
  color: grey;
}

#stack {
  font-weight: 600;
  grid-row: 3;
  grid-column: 1;
  font-weight: 600;
  border: 2px solid rgba(0 0 0/5%);
  border-radius: 20px;
  padding: 20px;
}

.stack {
  padding-bottom: 10px;
  color: rgba(0 0 0/40%);
}

/* Exposition */

.card_expo {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background-image: url("/assets/images/atome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: 500px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.white {
  background: white;
  width: 40%;
  height: 500px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* MAP */

.map {
  position: absolute;
  z-index: 1000;
  top: 70%;
  width: 50px;
  height: 300px;
  animation: map-anim 2s ease-in-out;
}

@keyframes map-anim {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

#section {
  height: 100vh;
  width: 100vw;
  padding: 0 30px 0 30px;
}
